*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Lato',sans-serif;
    overflow-x: hidden;
}
header{
    background-color: #000;
    position: fixed;
    width:100%;
}
header a{
    color:#fff;
    text-decoration: none;
}
.top-nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.fa-search{
    color:#fff;
}
.inner-nav{
    display: flex;
    flex-direction: row;
    padding-left:170px;
}
.inner-nav li:hover{
    background-color: #ccc;
}
.inner-nav li:hover a{
    color: #000;
}
.inner-nav li:hover select,option{
    background-color: #ccc;
    color:#000;
}
.inner-nav li{
    padding:12px 24px;
    text-transform: uppercase;
    list-style-type: none;
}
select, option{
    background-color: #000;
    color:#fff;
    border:none;
    outline-color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width:70px;
}
.fa-search{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:13px;
    padding:14px;
}
.fa-search:hover{
    background-color: red;
}
.showcase{
    background-image: url("https://www.w3schools.com/w3images/chicago.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.chicago{
    padding-bottom:50px;
    color:#fff;
    text-align: center;
    line-height: 3em;
    font-weight: bold;
}
.container{
    width:60%;
    margin:auto;
    padding-top:70px;
    padding-bottom: 70px;
    text-align: center;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top:80px;
}
.box img{
    width:65%;
    border-radius:7px;
}
.text .long{
    line-height: 1.5em;
    text-align: justify;
}
.text h1{
    text-transform: uppercase;
    font-weight: 400;
    font-size:28px;
    letter-spacing: 6px;
}
.text .lovemusic{
    color:grey;
    font-style: italic;
    padding-top:20px;
    padding-bottom:15px;
}
.box p{
    padding-bottom:15px;
}
.tour-dates{
    background-color: #000;
}
.intro h1{
    color: #fff;
    font-weight: 400;
    letter-spacing: 6px;
}
.intro p{
    color: gray;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
}
.row{
    background-color: white;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.different{
    color: white;
    background-color: red;
    margin-left: 8px;
    padding: 4px;

}
.gray{
    padding:8px;
}
.number{
    color: white;
    background-color: #000;
    border-radius: 50%;
    padding: 4px 8px;
    margin-right: 20px;
}
.third{
    justify-content: space-between;
}
.cont{
    width: 80%;
    margin-top: 5rem;
}
.newyork a{
    color: white;
    text-decoration: none;
    background-color: #000;
    padding: 2px;
    width: 20px;
}
.newyork a:hover{
    background-color: #ccc;
}
.newyork p{
    color: black   ;
    margin-top: 0.5rem;
}
.tickets2 img {
    height: 183px;
    font-weight: 243px;
}
.txtt{
    background-color: #fff;
    width: fit-content;
    padding: 2px;
    color: #000;
    width: 243px;
    height: 204px;
}
.container.newyork{
    background-color: #fff;
    height: 204px;
    width: 243;

}
.tickets2{
    background-color: #000;
}
div.newyork{
    width: 243px;
}
.txtt a{
    margin-top: 15px;
    float: left;
    width: 107px;
    height: 38;
}
.eee{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.txtt p{
    margin-bottom: 15px;
}
 i{
    color: gray;
}
.simgeler{
    display: flex;
    flex-direction: column;
    block-size: 3rem;
  
  
}
.simgeler p {
    margin-right: 5%;
    block-size: auto;
    margin-bottom: 10%;
}
.sol{
    position: absolute;

}
.z1{
    margin:0 -16px 8px -16px
}
form {
    display: block;
    margin-top: 0em;
    line-height: 1.7;
    font-size: 15px;
}
.footer{
    text-align: center;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
   
}
.footer.lastphoto{
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}

.conten-section{
    display: block;
   
}
h1 {text-align: center;
    margin-bottom: 2rem;}
.content-subheading{
    text-align: center;
    margin-bottom: 2rem;
}


